In [3]:
import numpy as np
import pandas as pd
from scipy.stats import bernoulli

In [4]:
def make_data():
    np.random.seed(100)
    salary = np.random.normal(40, 10, 500)
    work_sat = np.random.beta(1, 0.4, 500)
    work_from_home = bernoulli.rvs(0.7, size=500)
    work_from_home_calc = np.where(work_from_home, 1.4 * work_from_home, work_from_home)
    latent_rating = (
        0.08423 * salary + 0.2 * work_sat + work_from_home_calc + np.random.normal(0, 1, 500)
    )
    explicit_rating = np.round(latent_rating, 0)
    df = pd.DataFrame(
        {
            "salary": salary,
            "work_sat": work_sat,
            "work_from_home": work_from_home,
            "latent_rating": latent_rating,
            "explicit_rating": explicit_rating,
        }
    )
    return df

In [6]:
df = make_data()
df.head()

      salary  work_sat  work_from_home  latent_rating  explicit_rating
0  22.502345  0.735425               1       1.376997              1.0
1  43.426804  0.570354               0       5.419863              5.0
2  51.530358  0.738212               0       5.279701              5.0
3  37.475640  0.346045               1       4.651830              5.0
4  49.813208  0.365451               1       5.788661              6.0

In [7]:
df.to_csv("fake_employee_data.csv", index=False)